<h1 class="mt-5">Nested Selectors</h1>
<br />
<form [formGroup]="myForm" class="mb-5" (ngSubmit)="save()">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continent</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Select continent --</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">
          {{ region }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col" *ngIf="countries.length > 0">
      <label class="form-label">Countries</label>
      <select class="form-control" formControlName="country">
        <option value="">-- Select country --</option>
        <option *ngFor="let country of countries" [value]="country.cca3">
          {{ country.name.common }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col" *ngIf="borders.length > 0">
      <label class="form-label">Borders</label>
      <select class="form-control" formControlName="border">
        <option value="">-- Select border --</option>
        <option *ngFor="let border of borders" [value]="border.cca3">
          {{ border.name.common }}
        </option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col">
      <div class="alert alert-primary">Loading...</div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Select</button>
    </div>
  </div>
</form>

<h4>Form value</h4>
<code>{{ myForm.value | json }}</code>
<h4>Form valid</h4>
<code>{{ myForm.valid }}</code>
